{% load compress %}
{% load staticfiles %}

{% compress js %}

	<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
	<!--<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>-->

	<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>


	<script src="{% static 'js/Chart.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
	<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
	<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
	<script type="text/javascript" src="{% static 'bower_components/angular-messages/angular-messages.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'bower_components/angular-chart.js/dist/angular-chart.js' %}"></script>
	<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
  	

	<script type="text/javascript" src="{% static 'javascripts/tracker.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascripts/tracker.config.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascripts/tracker.routes.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>

	<script type="text/javascript" src="{% static 'javascripts/logger/logger.module.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascripts/logger/services/logger.service.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascripts/logger/controllers/trackers.controller.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascripts/logger/controllers/tracker.controller.js' %}"></script>

	<script type="text/javascript" src="{% static 'javascripts/logger/controllers/new-tracker.controller.js' %}"></script>

	<script type="text/javascript" src="{% static 'javascripts/logger/services/dashboard.service.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascripts/logger/controllers/dashboard.controller.js' %}"></script>

{% endcompress %}
