<style type="text/css">
.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    border-radius: 8px;
}
</style>
<div ng-show="vm.tracker">
    <div class="page-header text-center">
        <h1>{{vm.tracker['title']}}</h1>
        <h5 class="group inner list-group-item-heading"><a href="{{ vm.tracker['url'] }}">{{ vm.tracker['url'] }}</a></h5>
    </div>
    <br />
    <div id="products" class="row list-group" style="padding-left: 100px; padding-right: 100px" ng-show="vm.tracker">
        <div class="item  list-group-item col-xs-4 col-lg-4">
            <div class="thumbnail">
                <div class="caption" style="padding: 20px;">
                 <p>This is the tracking code. Copy and paste this code into every webpage you want to track<p>
                    <code class="row group inner list-group-item-text">
                        {{ vm.tracker['snippet'] }}</code>
                </div>
            </div>
        </div>
    </div>
    <div class="row  col-md-4 "></div>
    <div class="row col-md-4">
        <div class="col-xs-12 col-md-4">
            <a class="btn btn-primary" href="/dashboard/{{tracker['id']}}"> Dashboard</a>
        </div>
        <div class="col-xs-12 col-md-4">
            <a class="btn btn-info" href="/heatmaps/{{tracker['id']}}"> Heat Maps</a>
        </div>
        <div class="col-xs-12 col-md-4">
            <a class="btn btn-info" href="/sessions/{{tracker['id']}}"> Session Replays</a>
        </div>
    </div><br><br><br>
    <div class="row col-md-12 text-center" style="">
        <a href="/tracker/{{vm.tracker.id}}/update" class="btn btn-warning btn-xl " role="button">Update</a>
        <a href="#" class="btn btn-danger btn-xl" ng-click="vm.destroy()" onclick="javascript:return confirm('Are you absolutely sure you want to delete?')" role="button">Delete</a>
    </div>
    <div class="row  col-md-4 "></div>
</div>
